.knownPathBtn {
	font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
		sans-serif;
	align-self: flex-start;
	margin: 20px;
	padding: 20px;
	cursor: pointer;
	position: absolute;
	bottom: 100%;
	border-radius: 5px;
	/* box-shadow: 5px 5px 5px lightgray; */
}
