/* light */
.light_bg {
	background-color: whitesmoke;
	color: darkslateblue;
}
.light_bg_secondary {
	background-color: darkslateblue;
	color: whitesmoke;
}
.light_border {
	border: solid 1px #a9a9a9;
	border-radius: 5px;
}

.dark_bg {
	background-color: rgb(17, 26, 47);
	color: rgb(185, 185, 185);
}

.dark_bg_secondary {
	background-color: rgb(24, 32, 52);
	color: rgb(185, 185, 185);
}
.dark_border {
	border: solid 1px #424661;
	border-radius: 5px;
}

@keyframes light_visited_animation {
	0% {
		border-radius: 2px;
		transform: scale(0.3);
		background-color: var(--light-animation-bg-one);
	}
	50% {
		transform: scale(1.4);
		border-radius: 4px;
		background-color: var(--light-animation-bg-two);
	}
	100% {
		transform: scale(1);
		background-color: var(--light-visited-bg);
	}
}

.light_visited {
	animation: light_visited_animation 1s ease-in 0 1 normal forwards;
}
