:root {
	--light-cell-border: solid 1px rgb(246, 246, 246);
	--light-cell-border-visited: solid 1px rgb(117, 5, 117);
	--light-starting-bg: #e94c0e;
	--light-ending-bg: #ffd000;
	--light-path-bg: rgb(255, 99, 71);
	--light-visited-bg: rgb(124, 77, 162);
	--light-unvisited-bg: rgb(211, 211, 211);
	--light-animation-bg-one: rgba(234, 0, 255, 0.75);
	--light-animation-bg-two: rgba(190, 25, 56, 0.75);
	--light-animation-bg-wall-one: rgba(23, 10, 59, 0.75);
	--light-animation-bg-wall-two: rgba(4, 4, 44, 0.8);

	--dark-cell-border: solid 1px rgb(47, 47, 47);
	--dark-cell-border-visited: solid 1px rgb(19, 18, 58);
	--dark-starting-bg: #e94c0e;
	--dark-ending-bg: #ffd000;
	--dark-path-bg: rgb(255, 99, 71);
	--dark-visited-bg: rgb(50, 72, 115);
	--dark-unvisited-bg: rgb(80, 80, 80);
	--dark-animation-bg-one: rgb(44, 51, 161);
	--dark-animation-bg-two: rgba(49, 179, 149, 0.75);
	--dark-animation-bg-wall: rgba(3, 3, 24, 0.8);

	--neon-cell-border: solid 1px rgb(30, 29, 29);
	--neon-cell-border-visited: solid 1px rgb(153, 180, 90);
	--neon-starting-bg: #e94c0e;
	--neon-ending-bg: #ffd000;
	--neon-path-bg: rgb(255, 99, 71);
	--neon-visited-bg: #91ff00;
	--neon-unvisited-bg: rgb(55, 55, 55);
	--neon-animation-bg-one: rgb(0, 255, 187);
	--neon-animation-bg-two: rgba(49, 179, 149, 0.75);
	--neon-animation-bg-wall: #bc13fe;
}

/* light */
.light_starting {
	border: var(--light-cell-border);
	background-color: var(--light-starting-bg);
	transform: rotate(90deg);
	background-size: contain;
	background-position: center;
	border-radius: 10%;
}
.light_ending {
	border: var(--light-cell-border);
	background-color: var(--light-ending-bg);
	background-size: contain;
	background-position: center;
	border-radius: 10%;
}
.light_path {
	border: var(--light-cell-border);
	background-color: var(--light-path-bg);
	transition: background 10ms linear;
}
.light_wall {
	border: none;
	animation-name: light_wallAnimation;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-delay: 0s;
	animation-direction: alternate;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
.light_unvisitedAnimated {
	border: var(--light-cell-border);
	animation-name: light_unvisitedAnimation;
	animation-duration: 1.5s;
	animation-timing-function: ease-in-out;
	animation-delay: 0s;
	animation-direction: alternate;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
.light_unvisited {
	border: var(--light-cell-border);
	background-color: var(--light-unvisited-bg);
	transition: all 1s ease-in-out;
}
.light_visited {
	border: var(--light-cell-border-visited);
	animation-name: light_visitedAnimation;
	animation-duration: 1.5s;
	animation-timing-function: ease-in-out;
	animation-delay: 0s;
	animation-direction: alternate;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-play-state: running;
}

@keyframes light_wallAnimation {
	0% {
		transform: scale(1);
		background-color: var(--light-animation-bg-wall-one);
	}
	50% {
		transform: scale(0.5);
	}
	100% {
		transform: scale(1);
		background-color: var(--light-animation-bg-wall-two);
	}
}
@keyframes light_unvisitedAnimation {
	0% {
		transform: scale(1);
		background-color: var(--light-animation-bg-one);
	}
	50% {
		transform: scale(0.8);
		background-color: var(--light-animation-bg-two);
	}
	100% {
		transform: scale(1);
		background-color: var(--light-unvisited-bg);
	}
}
@keyframes light_visitedAnimation {
	0% {
		border-radius: 2px;
		transform: scale(0.3);
		background-color: var(--light-animation-bg-one);
	}
	50% {
		transform: scale(1.4);
		border-radius: 4px;
		background-color: var(--light-animation-bg-two);
	}
	100% {
		transform: scale(1);
		background-color: var(--light-visited-bg);
	}
}

/* dark */
.dark_starting {
	border: var(--dark-cell-border);
	background-color: var(--dark-starting-bg);
	transform: rotate(90deg);
	background-size: contain;
	background-position: center;
	border-radius: 10%;
}
.dark_ending {
	border: var(--dark-cell-border);
	background-color: var(--dark-ending-bg);
	background-size: contain;
	background-position: center;
	border-radius: 10%;
}
.dark_path {
	border: var(--dark-cell-border);
	background-color: var(--dark-path-bg);
	transition: background 10ms linear;
}
.dark_wall {
	border: none;
	animation-name: dark_wallAnimation;
	animation-duration: 1s;
	animation-timing-function: ease-out;
	animation-delay: 0s;
	animation-direction: alternate;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
.dark_unvisitedAnimated {
	border: var(--dark-cell-border);
	animation-name: dark_unvisitedAnimation;
	animation-duration: 1.5s;
	animation-timing-function: ease-out;
	animation-delay: 0s;
	animation-direction: alternate;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
.dark_unvisited {
	border: var(--dark-cell-border);
	background-color: var(--dark-unvisited-bg);
	transition: all 1s ease-in-out;
}
.dark_visited {
	border: var(--dark-cell-border-visited);
	animation-name: dark_visitedAnimation;
	animation-duration: 1.5s;
	animation-timing-function: ease-in;
	animation-delay: 0s;
	animation-direction: alternate;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-play-state: running;
}

@keyframes dark_wallAnimation {
	0% {
		transform: scale(1);
		background-color: var(--dark-animation-bg-one);
	}
	50% {
		transform: scale(0.8);
	}
	100% {
		background-color: var(--dark-animation-bg-wall);
	}
}
@keyframes dark_unvisitedAnimation {
	0% {
		transform: scale(1);
		background-color: var(--dark-animation-bg-one);
	}
	50% {
		transform: scale(0.8);
		background-color: var(--dark-animation-bg-two);
	}
	100% {
		background-color: var(--dark-unvisited-bg);
	}
}
@keyframes dark_visitedAnimation {
	0% {
		border-radius: 2px;
		transform: scale(0.3);
		background-color: var(--dark-animation-bg-one);
	}
	50% {
		transform: scale(1.4);
		border-radius: 4px;
		background-color: var(--dark-animation-bg-two);
	}
	100% {
		transform: scale(1);
		background-color: var(--dark-visited-bg);
	}
}

/* neon */
.neon_starting {
	/* border: var(--neon-cell-border); */
	background-color: var(--neon-starting-bg);
	transform: rotate(90deg);
	background-size: contain;
	background-position: center;
	border-radius: 10%;
	z-index: 99999999999;
	box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem var(--neon-starting-bg),
		0 0 0.8rem var(--neon-starting-bg);
}
.neon_ending {
	/* border: var(--neon-cell-border); */
	background-color: var(--neon-ending-bg);
	background-size: contain;
	background-position: center;
	border-radius: 10%;
	z-index: 99999999999;
	box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem var(--neon-ending-bg),
		0 0 0.8rem var(--neon-ending-bg);
}
.neon_path {
	border: var(--neon-cell-border);
	background-color: var(--neon-path-bg);
	transition: background 10ms linear;
}
.neon_wall {
	border: none;
	animation-name: neon_wallAnimation;
	animation-duration: 1s;
	animation-timing-function: ease-out;
	animation-delay: 0s;
	animation-direction: alternate;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
.neon_unvisitedAnimated {
	border: var(--neon-cell-border);
	animation-name: neon_unvisitedAnimation;
	animation-duration: 1.5s;
	animation-timing-function: ease-out;
	animation-delay: 0s;
	animation-direction: alternate;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
.neon_unvisited {
	border: var(--neon-cell-border);
	background-color: var(--neon-unvisited-bg);
	transition: all 1s ease-in-out;
}
.neon_visited {
	border: var(--neon-cell-border-visited);
	animation-name: neon_visitedAnimation;
	animation-duration: 1.5s;
	animation-timing-function: ease-in;
	animation-delay: 0s;
	animation-direction: alternate;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-play-state: running;
	z-index: 9999;
}

@keyframes neon_wallAnimation {
	0% {
		transform: scale(1);
		background-color: var(--neon-animation-bg-one);
		box-shadow: 0 0 0.2rem #fff;
	}
	50% {
		transform: scale(0.8);
	}
	100% {
		background-color: var(--neon-animation-bg-wall);
		box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe,
			0 0 0.8rem #bc13fe;
	}
}
@keyframes neon_unvisitedAnimation {
	0% {
		transform: scale(1);
		background-color: var(--neon-animation-bg-one);
	}
	50% {
		transform: scale(0.8);
		background-color: var(--neon-animation-bg-two);
	}
	100% {
		background-color: var(--neon-unvisited-bg);
	}
}
@keyframes neon_visitedAnimation {
	0% {
		border-radius: 2px;
		transform: scale(0.3);
		background-color: var(--neon-animation-bg-one);
		box-shadow: 0 0 0.2rem #fff;
	}
	50% {
		transform: scale(1.4);
		border-radius: 4px;
		background-color: var(--neon-animation-bg-two);
	}
	100% {
		border: none;
		transform: scale(1);
		background-color: var(--neon-visited-bg);
		box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #d4ffc2,
			0 0 0.8rem #13fe3a;
	}
}

.preview {
	background-color: rgb(99, 231, 156) !important;
	border-color: rgb(11, 151, 44) !important;
	filter: blur(3px);
}
